<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Matt Williamson</h1>
                <h3>Product Manager | mahwill29@gmail.com</h3>
            </div><!--/.col-lg-12 -->
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/.#headerwrap -->


<section id="about" name="about"></section>
<div id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>ABOUT</h5>
            </div>
            <div class="col-lg-6">
                <p>Innovative, versatile Product Management professional possessing track record as a catalyst of positive change within organizations.  Adept strategic ability to envision potential and conceptualize solutions, championing innovative processes while leveraging paired creativity and expertise to cultivate inventive product development strategies. Dedicated leader possessing engaging interpersonal skills, pairing communication expertise with natural coaching ability to foster internal talent while building strong professional relationships with vendors. Dedicated director of multiple teams and projects while displaying unwavering professionalism.</p>
            </div>
            <div class="col-lg-3">
                <p><a href="https://s3.amazonaws.com/mattwilliamson.io/resume/Matt+Williamson+Resume.docx"><i class="fa fa-file"></i></a> <sm>DOWNLOAD RESUME</sm></p>
            </div>

        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/ #intro -->


<section id="resume" name="resume"></section>
<!--EDUCATION DESCRIPTION -->
<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>EDUCATION</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p><t>Bachelor's of Science - Information Technology</t><br/>
                Purdue University <br/>
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>GRADUATED IN MAY 2014</sm><br/>
            </p>
        </div>
    </div>
    <hr>
</div><!--/.container -->


<!--WORK DESCRIPTION -->
<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>WORK</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p><t>Director, Product Management</t><br/>
                VMox, LLC. <br/>
            </p>
            <p>Oversee team of direct reports, fostering a productive and positive environment while facilitating professional development opportunities. Develop and maintain four product roadmaps while orchestrating weekly stakeholder meetings to provide updates. Enabled organization to meet and exceed its goals by shepherding multiple high-level, strategic projects to success.
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>November 2017 - Present</sm></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <p><t>Director, Operations and Product</t><br/>
                VMox, LLC. <br/>
            </p>
            <p>Designed, implemented, and directed daily operational processes and procedures to support a 3,500% increase in revenue over four years while driving 95% customer retention. Standardized polices & procedures for the operations team leading to reduction in average training time of two months to three weeks in addition to implementing employee goal performance metric tracking to assess employee growth.
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>Nov 2014 - Nov 2017</sm></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <p><t>Operations/Product Manager</t><br/>
                VMox, LLC. <br/>
            </p>
            <p>Directed team of 3rd party developers for enhancements in the ColdFusion platform. Produced sophisticated propriety software, reducing account management time by 10+ hours per week, per analyst. Enabled operations team to maintain quality customer service while doubling our client base YoY for three years in a row.
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>Nov 2013 - Nov 2014</sm></p>
        </div>
    </div>
    <hr>
</div><!--/.container -->


<!--AWARDS DESCRIPTION -->
<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>CERTIFICATIONS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p><t>Certified Solutions Architect - Associate</t><br/>
                Amazon Web Services <br/>
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>November 2017</sm></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <p><t>Certfied SysOps - Associate</t><br/>
                Amazon Web Services
            </p>
            <p>
        </div>
        <div class="col-lg-3">
            <p><sm>December 2017</sm></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <p><t>Certfied DevOps Professional</t><br/>
                Amazon Web Services
            </p>
            <p>
        </div>
        <div class="col-lg-3">
            <p><sm>June 2020 (Pending)</sm></p>
        </div>
    </div>
</div><!--/.container -->
<hr>
<!--PATENT DESCRIPTION -->
<div class="container desc">
    <div class="row">
        <div class="col-lg-2">
            <h5>PATENTS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <p><t>United States Patent #10033879</t>
            </p>
        </div>
        <div class="col-lg-3">
            <p><sm>Issued: 2016</sm></p>
        </div>
    </div><!--/.row -->
    <br>
</div><!--/.container -->
<hr>
<section id="interests" name="interests"></section>
<!--PORTFOLIO DESCRIPTION -->
<div class="container desc">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h5>INTERESTES AND HOBBIES</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <%= image_tag ("bandh2.jpg"), class: "img-fluid"%>
        </div>
        <div class="col-lg-6">
            <p><t>My Family</t></p>
            <p>I am a father to two very energentic boys named Henry and Ben. They keep me very busy.  
                I wouldn't have it any other way.  I learn so much from them every single day.
            </p>
        </div>
    </div>
             <br/><br/>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2">
            <%= image_tag ("quantum.jpg"), class: "img-fluid" %>
        </div>
        <div class="col-lg-6">
            <p><t>Dev Ops and Product Management</t></p>
            <p>The absolute best part of product management is making the complicated simple. 
                    The day of a presentation with our technical team to review requirements and answer questions regarding a very complex integration are my absolute favorite days. 
                    I love rapid prototyping solutions and outlining my findings with our development staff to productize the solution in a meaningful, scalble fashion. 
                    Much of this fascination is driven through devops culture.  I read every book and article and I can related to the practice and strive to leverage it in my career daily. <br/><br/>
            </p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <%= image_tag ("House.jpg"),class:"img-fluid"%>
        </div>
        <div class="col-lg-6">
            <p><t>Construction<t></p>
            <p>I bought an old farm house in 2013. 
                It is very close to finished at this point.  
                The journey to get here has been long and full of surprises.
                There is something very satisfying in taking something that is nothing and turning it into something beautiful. 
                I love construction because of the tangible aspects it presents. When we first moved into the house, it looked absolutely nothing like the picture to the left.  
                We are mostly done at this point.  We plan to add decks to the back and front this spring and wrap up the kitchen and bathroom this winter.
                It has been an extremly satisfying process to get to where we are today.<br/><br/>
            </p>
            <br/><br/>
        </div>
    </div>
    <br>
    <br>
</div><!--/.container -->



<section id="contact" name="contact"></section>
<%= render 'layouts/footer' %>