<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-6">
                <p><t>Email</t><br/>
                    <%= mail_to "mahwill29@gmail.com" %> <br/>
                </p>
                <p><t>Adress</t><br/>
                    4101 N Fail Road <br/>
                    La Porte, Indiana 46350 <br/>
                </p>
                <p><t>Phone</t><br/>
                    +1 219-575-9999 <br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>SOCIAL LINKS</sm></p>
                <p>
                    <a href="https://www.linkedin.com/in/mwilliamson0289/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/mhw29/"><i class="fa fa-github"></i></a>
                </p>
                <p>
                    
            </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/ #footer -->
