<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" href="#about" title="About">About</a></li>
                        <li class="menu-item"><%= link_to "Blog", "/blog" %></li>
                        <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact">Contact</a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#interests" title="Interests">Interests</a></li>
                        <li class="menu-item"><%= link_to "Projects", "/projects" %> </li>
                        <li class="menu-item"><a class="smoothScroll" href="https://s3.amazonaws.com/mattwilliamson.io/resume/Matt+Williamson+Resume.docx" title="Resume">Resume</a></li>

                    </ul><!--/ uL#nav -->
                </div><!-- /.dropdown -->

                <div class="clear"></div>
            </div><!--/.row -->
        </div><!--/.container -->

        <div class="clear"></div>
    </div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->